.footer,
.githubLink {
  text-align: center;
  color: #edf2f4;
  font-family: "Rubik", sans-serif;
  background-color: #8d99ae;
  height: 50px;
  font-size: 18pt;
  padding: 5px;
}

.icons:hover,
.githubLink:hover {
  transform: scale(1.5);
  color: #2b2d42;
}

.icons {
  margin: 5px;
}
